{% extends 'base.html' %}
{% block content %}
<div class="container author" xmlns="http://www.w3.org/1999/html">
  <h4>{{automobilis.auto_modelis_id}} - {{automobilis.valst_nr}}</h4>
  <img src="{{automobilis.photo.url}}">
  <hr>
  <p>Automobilio savininkas: {{automobilis.klientas}}</p>
  <p>Automobilio VIN: {{automobilis.vin}}</p>
  <p>Automobilio aprašymas: {{automobilis.aprasymas | safe}}</p>
  <hr>
  <br>
  <h5>Automobiliui atliktos paslaugos:</h5>
  {% for uzsakymas in automobilis.uzsakymai.all %}
    <b>{{uzsakymas.data}}</b>
    {% for paslauga in uzsakymas.uzsak_eil.all %}
    <li>{{paslauga.kiekis}}x {{paslauga.paslauga_id}}€</li>
    {% endfor %}
  {% endfor %}
</div>
{% endblock %}